body {
    margin: 0;
    text-align: center;
}

.search-bar {
    text-align: center;
    width: 800px;
}

.container-searchbar {
    margin: 50px;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.container-books {

}

.search-button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px black;
    cursor: pointer;
}